@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
/* '@import' font 는 css의 최상단에 작성해준다. */
/* https://fonts.google.com/ */
@import "reset.css";
@import "variables.css";
@import "status-bar.css";

body {
  font-family: "Roboto", sans-serif;
}

/* Use 'styles.css' file as import file. and they are going to devide and conquer. */

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  color: var(--yellow);
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 11px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}
/* [css not MDN] */

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  /* 'inherit(상속)' 은 부모 속성으로부터 물려받는 것을 뜻한다.
  여기서 부모속성은 '#login-form' 이다.*/
}
