/* cascading means that it reads from top to bottom. */
body {
    background-color: beige;
}
/* {} is curly bracket */
h1 {
    color: blue;
}
header {
    color: aquamarine;
    font-size: 20px;
}
/* color는 무시됐는데 font-size는 받아들여졌어 부모속성보다 자식 속성이 우선된다는 거겠지 */
